<% @products.each do |product| %>
  <h1><%= product.name %></h1>
  <div id="body-<%= post.id %>"><%= truncate product.description %></div>

  <button class="js-more" data-id="<%= product.id %>">More...</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $("#body-" + id).text(data);
    });
  });
});
</script>
